.gridStyleHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxStyleHomePage {
    height: 400px;
    width: 400px;
    border: 1px solid;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #DDE6ED;
}

.textStyleHomePage {
    font-size: 18px;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
}

.startButton {
    background-color: #24a0ed;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-family: cursive;
    font-size: 16px;
}

.disableButton {
    pointer-events: none;
    background-color: #cccccc;
    color: #666666;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: cursive;
    font-size: 16px;
}

.emptyMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}